.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.textoLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #32bbff;
    margin-top: 20px;
    font-size: 3vh;
    height: 70px;
    margin-bottom: 30px;
    animation: animacaoDireita 1.25s;
}

.background_login{
    width: 20%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.loginInputs{
    height: 15%;
    width: 70%;
    border: none;
    background-color: #dedede;
    color:#000000;
    border-radius: 5px;
    text-indent: 10%;
}

.botaoLogin{
    height: 15%;
    width: 55%;
    margin-top: 8%;
    border: none;
    background-color: #32bbff;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 0px 0px;
    transition: box-shadow 0.2s ease;
}

.botaoLogin:hover{
    box-shadow: 0px 0px 10px black;
    transition: box-shadow 0.2s ease;
}

.botaoLogin:active{
    box-shadow: 0px 0px 0px 0px;
    
}

#linkEsqueci{
    margin-top: 4%;
    font-size: small;
    margin-bottom: 2%;
    color: rgb(97, 97, 97)
}

#linkLogin{
    margin-top: 5%;
    font-size: smaller;
    color: rgb(97, 97, 97)
}
#linkEsqueci:hover, #linkLogin:hover{
    color: #32bbff;
    transition: color 0.25s ease;
}